@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//  Font Family //
$fontRoboto: 'Roboto',
sans-serif;
// Color //
$white: #fff;
$black: #343434;
$SubColorTwo: #108C03;
$SubColorThree: #FEBA12;
// Font screen size 992px to More 
$title: 36px;
$contentText: 20px;
// Font screen size 768px to 991px 
$titleMid: 28px;
$contentTextMid: 16px;