@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//  Font Family //
$fontRoboto: 'Roboto',
sans-serif;
// Color //
$white: #fff;
$black: #343434;
$SubColorTwo: #108C03;
$SubColorThree: #FEBA12;
$SubColorFour: #F8076E;
$SubColorFive:#05ABAA;
$SubColorSix:#FEBA12;
$border:#A4A3A3;

// Font size for Large screen
$title-lg : 52px;
$title-md : 46px;
$title-sm : 32px;

// Font size for Mid screen
$sub-title-lg : 36px;
$sub-title-md : 28px;
$sub-title-sm : 24px;

// Font size for Small screen
$content-text-lg: 20px;
$content-text-md: 18px;
$content-text-sm: 16px;


$section-title-lg: 20px;

