@import "../variable";
.about_us {
    background-color: #F5F5F5;
    padding: 7em 0;
    .container {
        hr{
            width: 20%;
            border: 2px solid $SubColorTwo;
            position: relative;
            border-radius: 50px;
            margin-left: 6%;
            &:before {
                font-family: "Roboto", sans-serif;
                content: 'ABOUT US';
                color: $black;
                display: block;
                width: auto;
                padding: 0.3em;
                font-size: $section-title-lg;
                text-align: center;
                position: absolute;
                top: -6px;
                background-color: #F5F5F5;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

               
              
            }
            @media (min-width:391px) and (max-width:767px) 
            {
                width: 30%;
                margin-left: 10%;
            }

            @media (min-width:250px) and (max-width:390px) {
                width: 48%;
                margin-left: 14%;
            }
        }
        .about_content {
            .title {
                font-size: $sub-title-lg;
                font-weight: 700;
                color: $black;
                text-align: left;

                @media (min-width:250px) and (max-width:767px) {
                    font-size: $sub-title-sm;
                }
                @media (min-width:768px) and (max-width:991px) {
                    font-size: $sub-title-md;
                }

                span {
                    color: $SubColorTwo;
                }
            }
            p {
             
                font-weight: 300;
                color: $black;
                text-align: left;
            }
            button {
                background-color: $SubColorThree;
                color: $white;
                font-size: 18px;
                border-radius: 8px;
                border: 0px solid transparent;
                font-weight: 500;
                padding: 12px 32px;
                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 16px;
                    padding: 8px 26px;
                }
                @media (min-width:250px) and (max-width:767px) {
                    font-size: 16px;
                    padding: 8px 26px;
                }
            }
        }
        .about_block_item {
            div {
                padding: 10px 10px;
                div {
                    padding: 22px 2% 10px;
                    border-radius: 12px;
                    box-shadow: 1px 5px 6px #31313154;
                    i {
                        width: 38px;
                        height: 38px;
                        text-align: center;
                        color: #fff;
                        background-color: #FEBA12;
                        padding: 12px;
                        border-radius: 50%;
                        margin: auto;
                        display: block;
                    }
                    p {
                        text-align: center;
                        font-size: 16px;
                        color: $black;
                        font-weight: 300;
                        font-family: $fontRoboto;
                        margin-top: 14px;
                        span {
                            font-weight: 700;
                        }
                    }
                }
            }

            @media (min-width:250px) and (max-width:767px) 
            {
                margin-top: 22px;
            }
        }
    }
}