@import "../variable";
.app_section{
    height: auto;
    width: 100%;
    padding: 96px 0;
    .container{
        .row{
            div{
                .title{
                    width: 76%;
                    font-size: $title;
                    font-weight: 700;
                    color: $black;
                    text-align: left;
                    span {
                        color: $SubColorTwo;
                    }
                }
                button{
                    background-color: #AF7900;
                    color: $white;
                    font-size: 18px;
                    border-radius: 8px;
                    border: 0px solid transparent;
                    font-weight: 500;
                    padding: 12px 32px;
                    text-decoration: none;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    @media (min-width: 768px) and (max-width: 991px) {
                        font-size: 16px;
                        padding: 8px 26px;
                    }
                    @media (min-width:250px) and (max-width:767px) {
                        font-size: 16px;
                        padding: 8px 26px;
                    }
                }
                .store{
                    display: flex;
                    a{
                        height: 50px;
                        margin-right: 4px;
                        width: 168px;
                        border-radius: 6px;
                        cursor: pointer;
                    }
    
                }
    
                img{
                    width: 282px;
                    height: auto;
                    display: block;
                    margin: auto;
                }
            }
        }
        
    }
}