@import "../variable";
.features{
    background-color: #ffffff;
    padding: 0px 0px;
    img{
        width: 100%;
        height:auto;
        margin: auto;
        display: block;
    }
    .container{
        hr {
            width: 19%;
            border: 2px solid $SubColorTwo;
            margin:44px auto 0px;
            position: relative;
            border-radius: 50px;
            &:before {
                font-family: $fontRoboto;
                content: 'FEATURES';
                color: $black;
                display: block;
                width: auto;
                padding: 0.3em;
                font-size: $section-title-lg;
                text-align: center;
                position: absolute;
                top: -6px;
                background-color: #fff;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            @media (min-width:250px) and (max-width:767px) 
            {
                width: 30%;
                
            }

        } 
        .title{
            font-size: $sub-title-lg;
            font-weight: 700;
            color: $black;
            text-align: center;
            margin:30px auto 46px;

            @media (min-width:250px) and (max-width:767px) {
                font-size: $sub-title-sm;
            }
            @media (min-width:768px) and (max-width:991px) {
                font-size: $sub-title-md;
            }
            

            span {
                color: $SubColorTwo;
            }

            

           
        }
        p{
            font-weight: 300;
            color: $black;
            text-align: center;
            margin: auto;
        } 
        
        .row{
            margin-top: 40px;
            margin-bottom: 40px;
            div{
                
                div{
                    border-radius: 8px;
                    padding: 0px 6%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    h5{
                        font-size: $sub-title-lg;
                        font-weight: 500;
                        font-family: $fontRoboto;
                        color: $black;
                        text-align: center;
                        padding: 25px 0px;
                        margin: auto;

                        @media (min-width:576px) and (max-width:767px) {
                            font-size: 16px;
                        }
                    }

                    @media (min-width:230px) and (max-width:575px) {
                        margin-top: 8px;
                        margin-bottom: 8px;
                    }
                }
            }
        }

        button {
            background-color: $SubColorFour;
            color: $white;
            font-size: 18px;
            border-radius: 8px;
            border: 0px solid transparent;
            font-weight: 500;
            padding: 12px 32px;
            margin:0px auto 40px;
            display: block;
            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 16px;
                padding: 8px 26px;
            }
            @media (min-width:250px) and (max-width:767px) {
                font-size: 16px;
                padding: 8px 26px;
            }
        }
    }
}

