@import "../variable";




.hero{
    height: auto;
    width: 100%;
    padding: 140px 0px;
    
           
    .container{
        
        margin: auto;
        .row{
            @media (min-width:250px) and (max-width:575px) 
            {
                margin: 0 4%;
            }
            .hero-image{
                @media (min-width:250px) and (max-width:767px) 
                {
                    height: auto;
                }

                img{
                    width: 100%;
                    @media (min-width:250px) and (max-width:767px) 
                    {
                        height: 280px;
                        width: auto;
                    }
                }

                .tag-title-content{

                    margin-top: 24px;

                    h1{
                        font-size: $title-lg;
                        color: #343434;
                        font-family: "Roboto", sans-serif;
                        font-weight: 800;
                        text-align: left;
                        line-height: 1.1;

                        @media (min-width:540px) and (max-width:767px) {
                            font-size: $title-md;
                        }

                        @media (min-width:230px) and (max-width:539px) {
                            font-size: $title-sm;
                        }

                    }

                    p{
                        color: $black;
                        text-align: left;
                    }
                }

                
            }

            .hero-form{

                background-color: rgba(216, 227, 218, 0.7);
                padding: 40px 4%;
                border-radius: 20px;

                h5{
                    font-size: 20px;
                    text-align: center;
                    font-weight: 700;
                    color: $black;
                    margin-bottom:40px;
                }

                form{
                    
                    div{
                        input{
                            padding: 12px;
                            border-radius: 8px;
                            border: 1px solid $border;
                        }

                        .arrival-time-row{
                            @media (min-width:250px) and (max-width:991px) {
                                margin: 20px auto;
                            }
                        }

                        
                    }

                    button{
                        background-color: $SubColorTwo;
                        color: $white;
                        font-size: 18px;
                        border-radius: 8px;
                        border: 0px solid transparent;
                        font-weight: 500;
                        padding: 12px 32px;
                        margin: auto;
                        display: block;
                        
                    }
                      
                }
               
                @media (min-width:250px) and (max-width:767px) 
                {
                    border-radius: 10px;       
                }
               
            }
        }
    }
}